@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/roboto.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/robotomedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/robotobold.woff') format('woff');
  font-weight: 700;
}


body {
  position: relative;
  
  min-width: 1200px;
  margin: 0;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', 'Arial', sans-serif;  
  color: #ffffff;
  background-color: #849d8f;
}

.clearfix::after {
  content: '';
  
  display: table;
  clear: both;
}

.container {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container::before,
.container::after {
  content: '';

  visibility: hidden;
}

.container::before {
  background-image: url('../img/slider/slide2.png');
}

.container::after {
  background-image: url('../img/slider/slide3.png');
}

.center {
  width: 1150px;
  margin: 0 auto;
  padding: 0 25px;
}

/* body::after { */
	/* content: ''; */
	/* position: absolute; */
  /* top: 0; */
	/* left: 0; */
	/* opacity: 0.5; */
  
  /* width: 100%; */
	/* min-height: 100%; */
	 /* background: url('../gllacy-index-1200.jpg') no-repeat center 0;  */
 /* }   */

.page-header {
  position: relative;
  min-height: 75px;
  padding-top: 10px;
}

.main-navigation {
  float: left;
  
  font-weight: 700;
  line-height: 18px;
}

.main-menu {
  float: left;
  max-width: 500px;
}

.header-logo {  
  float: left;
  width: 154px;
  margin-right: 12px;
}

.main-navigation .main-menu,
.main-navigation .sub-menu  {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.main-navigation .main-menu {
  margin-top: 13px;
}

.main-menu > li {
  display: inline-block;
  
  vertical-align: top;
}

.main-menu a {
  display: block;
  
  padding: 7px 12px;
  
  color: #ffffff;
  text-decoration: none;
}

.main-menu_item > a::after{
  content: '';
  display: block;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
}

.active > a::after {
  display: none;
}

.main-menu .main-menu_item {
  padding-bottom: 20px;
}

.main-menu .active > a{
  background-color: rgb(208, 112, 88);
  text-decoration: none;
  border-radius: 20px;
}

.main-menu_item a:hover {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 20px;
}

.main-menu_item a:active {
  color: #333333;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}


.sub-menu { 
  position: absolute;

  left: 183px;
  top: 60px;
  z-index: 4;
  
  display: none;
  width: 145px;
  
  
  font-weight: 400;
  font-size: 14px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  overflow: hidden;
}

.sub-menu_new {
  position: relative;
}

.sub-menu_new::after {
  content: '';
	position: absolute;
  top: 38px;
  right: 10px;
	left: 7px;
  
  display: block;
  height: 1px;
  background-color: rgba(209, 208, 206, 0.8);
}

.sub-menu a {
  padding: 8px 20px 5px;
  text-decoration: none;
  color: #323232;
}

.sub-menu_new a {
  padding-bottom: 12px;
}

.sub-menu_melorin a {
  padding-bottom: 12px;
}

.main-menu_catalog:hover .sub-menu {
  display: block;
}

.sub-menu .active > a{
  border-radius: 0;
  color: #ffffff;
}

.sub-menu a:hover {
  color: #323232;
  background: #fbded7;
  border-radius: 0;
  box-shadow: none;
}

.sub-menu a:active {
  color: #323232;
  background: #f6b5a5;
}

.btn {
  display: inline-block;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.user-block {  
  float: right;
  
  max-width: 350px;
  margin-top: 13px;
  
  font-weight: 500;
  font-size: 14px;
	line-height: 16px;
}

.user-block ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.user-block li {
  position: relative;
  
  display: inline-block;
  vertical-align: top;

  margin-left: 7px;
  padding-bottom: 10px;
}

.user-search {
  margin-left: 0;
}

.user-search > a,
.user-enter  > a,
.user-basket > a {
  display: block;
  text-decoration: none;
  
  padding: 8px 15px 8px 45px;
  color: #ffffff;
  background-color: rgba(234, 234, 234, 0.2);
  background-image: url('../img/icons/search.png');
  background-repeat: no-repeat;
  background-position: 10px 7px;
  border-radius: 20px;
}

.user-search  a {
  height: 32px;
  width: 32px;
  padding: 0;
}

.basket-empty a {
  padding-right: 35px;
}

.basket-full > a {
  padding-right: 18px;
  color: #323232;
}

.user-search a:hover,
.user-enter > a:hover,
.user-basket > a:hover {
  color: #323232; 
  background-color: rgba(234, 234, 234, 1);
  background-repeat: no-repeat;
}

.user-search a {
  background-position: 8px 7px;
}

.user-search a:hover {
  background-image: url('../img/icons/search1.png');
  background-position: 8px 7px;
}

.user-enter > a {
  background-image: url('../img/icons/enter.png');
  background-position: 17px 7px;
}

.user-enter > a:hover {
  background-image: url('../img/icons/enter1.png');
  background-position: 17px 7px;
}

.basket-empty > a {
  background-image: url('../img/icons/basket.png');
  background-position: 15px 7px;
}

.basket-full > a,
.basket-full > a:hover {
  background-image: url('../img/icons/basket1.png');
  background-position: 15px 7px;
}

.basket-empty> a:hover {
  background-image: url('../img/icons/basket.png');
  background-position: 15px 7px;
}

.user-block form {
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
}

.search {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 4;
  
  display: none;
  width: 310px;
  
  padding: 20px 15px;
  
  background-color: #f8f7f4;
}

.search input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 1px 13px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.user-search:hover .search {
  display: block;
}

.enter {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 4;
  
  display: none;
  width: 242px;
  height: 174px; 
  padding: 20px 18px;
  background-color: #f8f7f4;
  
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.enter input:not(:last-of-type) {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 15px;
  border-radius: 5px;

  font-size: 14px;
  line-height: 24px;

  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.enter .enter-help {
  float: right;
  width: 120px;
}

.enter-help a {
  display: inline-block;

  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
}

.enter .btn {
  padding: 11px 22px;
  border-radius: 20px;
}

.user-enter:hover .enter {
  display: block;
}

.basket {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 4;
  
  display: none; 
  width: 510px;
  padding: 20px 15px;
  
  color: #323232;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  
  background-color: rgb(248, 247, 243); 
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
}

.basket table {
  border-collapse: collapse;
  margin-bottom: 15px;
}

td {
  padding-top: 10px;
  padding-right: 12px;
  vertical-align: top;
}

.basket-delete a {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.basket-delete a::before,
.basket-delete a::after {
  content: '';
  position: absolute;
  top: -2px;
  right: 2px;

  display: block;
  width: 1px;
  height: 14px;

  transform: rotate(45deg);
  background-color: #323232;
}

.basket-delete a::after {
  transform: rotate(-45deg);
}

.basket-item {
  height: 55px;
}

.basket-photo {
  padding-top: 0;
  text-align: center;
}

.basket-name {  
  width: 220px;
}

.basket-prise,
.basket-cost {
  padding-left: 15px;
}

.basket a:not(.btn){
  color: #323232;
  text-decoration: none;
}

.basket span{
  color: #323232;
  opacity: 0.5;
}

.basket img  {
  border-radius: 50%;
}

.basket .total-order {
  position: relative;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.basket::after {
  content: '';
  position: absolute;

  right: 15px;
  bottom: 112px;
	left: 15px;
  
  display: block;
  height: 1px;
  background-color: rgba(210, 209, 205, 1);
}

.basket .btn {
  float: right;
  padding: 10px 15px 12px;
}

.user-basket:hover .basket {
  display: block;
}

.header-contacts {
  position: absolute;
  top: 68px;
  right: 26px;
  z-index: 3;

  width: 170px;

  font-weight: 700;
  text-align: right;
}

.header-contacts span {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.header-contacts a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}

/* index */

.slider {
  position: relative; 
  
  margin-bottom: 40px;
  padding-top: 305px;
  
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slider-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
}

.slide .btn  {
  padding: 12px 40px;
  
  font-size: 32px;
  line-height: 44px;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%); 
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider .slide1 {
  position: absolute;
  top: 305px;
  left: 240px;
  
  display: inline-block;
  vertical-align: top;
  text-align: center;
  
  width: 670px;
}

.slider-controls {
  position: absolute;
  bottom: 24px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .container #slide1,
#btn-2:checked ~ .container #slide2,
#btn-3:checked ~ .container #slide3 {
  display: block;
}

#btn-1:checked ~ .container {
  background-color: #849d8f;
  background-image: url('../img/slider/slide1.png');
}

#btn-2:checked ~ .container {
  background-color: #8996a6;
  background-image: url('../img/slider/slide2.png');
}

#btn-3:checked ~ .container {
  background-color: #9d8b84;
  background-image: url('../img/slider/slide3.png');
}

#btn-1:checked ~ .container label[for="btn-1"],
#btn-2:checked ~ .container label[for="btn-2"],
#btn-3:checked ~ .container label[for="btn-3"] {
  background-color: #ffffff;
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}


.benefit {
  margin-bottom: 40px;
}

.benefit-item {
  position: relative;
  
  float: left;
  
  width: 520px;
  min-height: 195px;
  padding: 20px;
  padding-top: 15px;
  
  font-weight: 700;
  font-size: 18px;
}

.benefit-item h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-size: 35px;
	line-height: 41px;
}

.benefit-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 42px;
}

.benefit-item:nth-child(2n) {
  margin-left: 25px;
}

.benefit-item .btn {
  float: right;
}

.benefit .benefit-1 {
  background-color: #ad1330;
  background: url('../img/benefit1.jpg') no-repeat;
  border-radius: 17px;
}

.benefit .benefit-2 {
  background-color: #3f261c;
  background: url('../img/benefit2.jpg') no-repeat;
  border-radius: 17px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.catalog-item {
  position: relative;
  width: 269px;
  
  text-align: center;
}

 .item-name::after { /*фон*/
  position: absolute;
  top: -7px; 
  left: -13px; 
  z-index: 2; 
  content: '';
  
  width: 295px;   
  height: 405px; 
  
  background-color: rgb(255, 255, 255);
  opacity: 0;
  border-radius: 7px;
} 

.catalog-item:hover .btn {
  display: block;
}

.catalog-item:hover .item-name::after {
  opacity: 0.3;
}

.hit::before {
  position: absolute;
  z-index: 10;
  content: '';
  width: 61px;
  height: 61px;
  background: url('../img/hit.png');
  border-radius: 50%;
}

.catalog-item img {
  position: relative;
  z-index: 4;
  margin-bottom: 5px;
  border-radius: 50%;
}

.item-price {
  position: absolute;
  z-index: 6;
  top: 205px;
  left: 0;
  
  font-weight: 700;
  font-size: 45px;
	line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.price-weight {
  font-size: 30px;
}

.item-name {
  min-height: 53px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
}

/* .catalog-item::hover .item-name {    /*убрать подчеркивание при наведении*/
  /* border-bottom: 1px solid rgba(255, 255, 255, 0); */
/* } */

.catalog-item .btn {
  position: absolute;
  left: 35px;
  bottom: -55px;
  z-index: 20;
  
  display: none;
  padding: 11px 22px;
  border-radius: 20px;
}

.about-us {
  /* min-height: 250px; */
  margin-bottom: 40px;
  padding: 20px;

  color: #323232;
  
  background-color: #eaddc1;
  background: url('../img/waffle.jpg');
  border-radius: 15px;
}

.about-us h2 {
  margin: 0;
  padding: 0;
  
  font-weight: 500;
	font-size: 24px;
	line-height: 30px;
  color: #323232;
}

.about-us ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.about-us li {
  display: inline-block;
  vertical-align: top;

  width: 480px;
  margin-right: 30px;
  padding-top: 25px;
  padding-left: 55px;
}

.about-us li:nth-child(2n){
  margin-right: 0;
}

.about-item {
  background-repeat: no-repeat;
  background-position: 0 10px;
}

.about-1 {
  background-image: url('../img/li1.png');
}

.about-2 {
  background-image: url('../img/li2.png');
}

.about-3 {
  background-image: url('../img/li3.png');
}

.about-4 {
  background-image: url('../img/li4.png');
}

.news {
  margin-bottom: 40px;
  
  font-weight: 500;
}

.news-item {
  float: left;
  
  width: 520px;
  min-height: 170px;
  margin-right: 25px;
  padding: 25px 20px;
}

.news-item:nth-child(2n) {
  margin-right: 0;
}

.news-item span {
  font-weight: 500;
}

 .news-title {
  display: block;
  width: 295px;
  color: #323232;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.news .blog {
  color: #323232;

  background-color: #ffffff;
  background: url('../img/news1.jpg') no-repeat;
  border-radius: 15px;
}

.news .subscription {   
  color: #5a5a5a;

  background: #f8f7f4;
  /* border: 5px solid black; */
  /* border-image: url('../img/news2.png') 5 round repeat; */
  border-radius: 15px;
}

.subscription-title {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 35px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscription input:not(.btn) {
  width: 335px;
  height: 40px;
  margin-left: 10px;
  padding: 1px 13px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.subscription .btn {
  float: right;
  padding: 10px 18px;
}

.map {
  min-height: 430px;
    
  background: url('../img/map.jpg') no-repeat center 0;
}

.contacts {
  float: right;
  
  width: 255px;
  min-height: 255px;  
  margin-top: 60px;
  padding: 30px 25px;
  
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #fdfefe;
  border-radius: 15px;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts b {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts .btn {
  padding: 11px 27px;
}

/* catalog */

.shop-header {
  min-height: 65px;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;

  padding-right: 18px;
  
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:last-child {
  padding-right: 0;
}

.breadcrumbs li::after { 
	content: '»';
	position: absolute;
  top: 0;
	right: 5px;
	opacity: 0.5;
}

.breadcrumbs a {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs a::after {
  content: '';
  display: block;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
}

.main-sorting {
  width: 870px; /*870*/
  min-height: 135px;
  margin-bottom: 35px;
  
  background-color: lightgreen;
}

.main-sorting fieldset {
  display: inline-block;
  
  height: 60px;
  vertical-align: top;
  margin-right: 15px;
}

.main-sorting .parameter{
  width: 195px;
}

.main-sorting .price {
  width: 200px;
}

.main-sorting .fat {
  /* width: 415px;  */
  margin-right: 0;
}

.main-sorting .fill {
  width: 705px;
}

.main-sorting .btn {
  display: inline-block;
  
  margin-top: 20px;
}

.paginator {
  min-height: 35px;
  padding: 25px 0;
  
  background-color: lightblue;
}

.page-footer {
  min-height: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social {
  float: left;
  
  width: 250px;
  min-height: 50px;
  margin-right: 150px;
}

.extra-info {
  float: left;
  
  width: 380px;
  min-height: 50px;
}

.copyright {
  float: right;
  
  width: 200px;
  min-height: 70px;
}

.lk {
  display: none;
}



.feedback {
  display: none;
}

input[name='toggle'] {
  display: none;
}



                                        /* шрифты */

/* .main-navigation { */
  /* font-weight: 700; */
	/* line-height: 18px; */
/* } */

/* .user-block { */
  /* font-weight: 500; */
  /* font-size: 14px; */
	/* line-height: 16px; */
/* } */

/* .header-contacts { */
  /* font-weight: 700; */
  /* font-size: 16px; */
	/* line-height: 22px; */
/* } */

/* .header-contacts  a{ */
  /* font-size: 22px; */
	/* line-height: 24px; */
/* } */

/* .slider { */
  /* font-weight: 700; */
  /* font-size: 60px; */
	/* line-height: 60px; */
/* } */

/* .slider .btn { */
  /* font-weight: 700; */
  /* font-size: 32px; */
	/* line-height: 44px; */
/* } */

/* .btn { */
  /* font: inherit; */
  /* font-weight: 700; */
  /* font-size: 18px; */
	/* line-height: 24px; */
  
/* } */

/* h2 { */
	/* font-size: 35px; */
	/* line-height: 41px; */
/* } */

/* .benefit-item { */
  /* font-weight: 700; */
  /* font-size: 18px; */
/* } */

/* .item-price { */
  /* font-weight: 700; */
  /* font-size: 45px; */
	/* line-height: 45px; */
/* } */

/* .item-name { */
  /* font-weight: 500; */
/* } */

/* .about-us h2 { */
  /* font-weight: 500; */
	/* font-size: 24px; */
	/* line-height: 30px; */
/* } */

/* .news span { */
  /* font-weight: 500; */
/* } */

/* .news a { */
  /* font-weight: 700; */
  /* font-size: 24px; */
	/* line-height: 30px; */
/* } */

/* .news [name='email'] { */
	/* line-height: 24px; */
/* } */

/* .page-footer .extra-info { */
  /* font-size: 13px; */
	/* line-height: 16px; */
/* } */

/* .page-footer .copyright { */
  /* font-size: 12px; */
	/* line-height: 16px; */
/* } */


/* .shop-header h1{ */
  /* font-weight: 700; */
  /* font-size: 35px; */
	/* line-height: 41px; */
/* } */

/* .breadcrumbs { */
  /* font-size: 14px; */
	/* line-height: 16px; */
/* } */

/* form legend { */
  /* font-weight: 500; */
  /* font-size: 14px; */
	/* line-height: 16px; */
/* } */

/* .paginator { */
  /* font-weight: 500; */
/* } */

/* .search { */
  /* font-size: 14px; */
	/* line-height: 24px; */
  /* color: #999999; */
/* } */

/* .enter input { */
  /* font-size: 14px; */
	/* line-height: 24px; */
  /* color: #999999; */
/* } */

/* .enter a { */
  /* font-size: 13px; */
	/* line-height: 24px; */
  /* color: #999999; */
/* } */

/* .basket a{ */
  /* font-size: 13px; */
	/* line-height: 16px; */
/* } */

/* .total-order { */
  /* font-weight: 700; */
  /* font-size: 15px; */
	/* line-height: 28px; */
/* } */

/* .feedback { */
  /* font-weight: 500; */
  /* font-size: 24px; */
	/* line-height: 28px; */
/* } */

/* .feedback b { */
  /* font-weight: 700; */
  /* font-size: 18px; */
	/* line-height: 22px; */
/* } */

/* .feedback  input{ */
	/* line-height: 24px; */
/* } */