@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/roboto.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/robotomedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/robotobold.woff') format('woff');
  font-weight: 700;
}

body {
	position: relative;
  
  min-width: 1200px;
  margin: 0;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
	font-family: 'Roboto', 'Arial', sans-serif;  
  color: #ffffff;
   background-color: rgb(137,171, 157);
}

.clearfix::after {
  content: '';
  
  display: table;
  clear: both;
}

.container {
  min-width: 1200px;
  margin: 0;
  
 
}

.center {
  width: 1150px;
  margin: 0 auto;
  padding: 0 25px;
}

 /* body::after { */
	/* content: ''; */
	/* position: absolute; */
  /* top: 0; */
	/* left: 0; */
	/* opacity: 0.5; */
  
  /* width: 100%; */
	/* min-height: 100%; */
	 /* background: url('../gllacy-index-1200.jpg') no-repeat center 0;  */
/* }  */

.page-header {
  position: relative;
  min-height: 75px;
  padding-top: 10px;
}

.main-navigation {
  float: left;
  
  width: 600px;
  
  font-weight: 700;
	line-height: 18px;
}

.header-logo {  
  float: left;
  width: 154px;
  margin-right: 13px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.main-menu > li {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
}

.main-menu a {
  display: block;
  
  padding: 5px 12px;
  
  color: #ffffff;
}

.main-menu .active {
  position: relative;
  background-color: rgb(235, 114, 87);
  text-decoration: none;
  border-radius: 20px;
}

.main-menu_catalog a:hover,
.main-menu_delivery a:hover,
.main-menu_about a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
  border-radius: 20px;
}

.main-menu_catalog > a:active,
.main-menu_delivery a:active,
.main-menu_about a:active {
  color: #333333;
  background-color: #f7f6f3;
  box-shadow: inset 0 5px 5px -3px grey;
}

.sub-menu { 
  position: absolute;
  z-index: 2;
  
  display: none;
  width: 145px;
  padding-left: 10px;
  
  font-weight: 400;
  font-size: 14px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 black; 
  overflow: hidden;
}

.sub-menu li:first-child {
  border-bottom: 1px solid lightgrey;
}

.sub-menu a {
  padding: 10px 15px;
  text-decoration: none;
  color: #323232;
}

.main-menu li:first-child:hover .sub-menu {
  display: block;
}

.sub-menu .active a {
  color: white;
}

.sub-menu a:hover {
  color: #323232;
  background: #fbded7;
  border-radius: 0;
}

.sub-menu a:active {
  color: #323232;
  background: #f6b5a5;
}

.sub-menu .active {
  border-radius: 0;
}

.user-block {  
  float: right;
  
  max-width: 350px;
  margin-top: 13px;
  
  font-weight: 500;
  font-size: 14px;
	line-height: 16px;
}

.user-block ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.user-block li {
  position: relative;
  
  display: inline-block;
  vertical-align: top;

  margin-left: 8px;
  background-color: rgba(234, 234, 234, 0.2);
  border-radius: 17px;
  background-position: 15px 7px;
}

.user-block li:first-child {
  margin-left: 0;
}

.user-block a {
  display: block;
  text-decoration: none;
  
  color: #ffffff;
}

.user-block .user-enter,
.user-block .user-basket {
  padding: 8px 15px 8px 45px;
}

.user-block li:last-child a {
  padding-right: 20px;
}

.user-block li:hover a{
  color: #323232;
}

.user-block li:hover {
  background-color: rgba(234, 234, 234, 1);
  border-radius: 17px;
  background-position: 15px 7px;
}

.user-block li:first-child {
  background-position: 10px 7px;
}

.user-search {
  height: 18px;
  width: 18px;
  padding: 8px;
  
  background: url('../img/icons/search.png') no-repeat;
}

.user-search:hover {
  background: url('../img/icons/search1.png') no-repeat;
}

.user-enter {
  background: url('../img/icons/enter.png') no-repeat;
}

.user-enter:hover {
  background: url('../img/icons/enter1.png') no-repeat;
}

.user-basket {
  background: url('../img/icons/basket.png') no-repeat;
}

.user-basket:hover {
  background: url('../img/icons/basket1.png') no-repeat;
}

.user-block form {
  border-radius: 10px;
  box-shadow: 0 10px 35px 0 black;
}


.search {
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 2;
  
  display: none;
  width: 310px;
  
  padding: 20px 15px;
  
  background-color: rgb(248, 247, 243); 
}

.search input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 45px;  

  font-size: 14px;
  line-height: 24px;
  
  border-radius: 5px;
}

.user-search:hover .search {
  display: block;
}

.basket {
  display: none;
}

.user-basket:hover .basket {
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 2;
  
  display: block;
  width: 505px;
  height: 205px;
  padding: 20px 15px 20px 20px;
  
  background-color: rgb(248, 247, 243); 
  border-radius: 10px;
  box-shadow: 0 10px 35px 0 black;
}

.enter {
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 2;
  
  display: none;
  width: 246px;
  height: 195px; 
  padding: 20px 17px;
  background-color: rgb(248, 247, 243);
  
  font-size:14px;
  line-height: 24px;
}

.user-enter:hover .enter {
  display: block;
}

.enter input:not(:last-of-type) {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.enter .login-help {
  float: right;
  width: 120px;
  margin-top: 5px;
}

.login-help  a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
}

.header-contacts {
  position: absolute;
  top: 70px;
  right: 25px;
  
  width: 170px;
  
  font-weight: 700;
 
}

.header-contacts span {
  /* margin-left: 20px; */
  font-size: 14px;
  line-height: 16px;
}

.header-contacts a {
  float: right;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

/* index */

.slider {
  position: relative; 
  
  min-height: 535px;
  margin-bottom: 25px;
  
  font-weight: 700;
  font-size: 60px;
	line-height: 60px;
}

.slider .btn {
  position: absolute;
  top: 160px;
  left: 235px;
  
  width: 200px;
  
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
	line-height: 44px;
  
  text-decoration: none;
  border-radius: 45px;
}

.slider .slide1 {
  position: absolute;
  top: 305px;
  left: 240px;
  
  display: inline-block;
  vertical-align: top;
  text-align: center;
  
  width: 670px;
  
}

/* .slider .slide2 { */
  /* position: absolute; */
  /* top: 305px; */
  /* left: 240px; */
  
  /* display: inline-block; */
  /* vertical-align: top; */
  /* text-align: center; */
  
  /* width: 670px; */
/* } */

/* .slider .slide3 { */
  /* position: absolute; */
  /* top: 305px; */
  /* left: 240px; */
  
  /* display: inline-block; */
  /* vertical-align: top; */
  /* text-align: center; */
  
  /* width: 670px; */
/* } */


.btn {
  padding: 12px 20px;
  
  
  font: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
	line-height: 24px;
  
  text-decoration: none;
  background-color: #ec593c;
  border-radius: 25px;
}

.btn:hover {
  /* linear-gradient  */
}

.btn:active {
  
}

.benefit {
  margin-bottom: 40px;
}

.benefit-item h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
	line-height: 41px;
}

.benefit-item p {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.benefit-item {
  position: relative;
  
  float: left;
  
  width: 520px;
  min-height: 190px;
  padding: 20px;
  
  font-weight: 700;
  font-size: 18px;
}

.benefit-item:nth-child(2n) {
  margin-left: 25px;
}

.benefit-item .btn {
  position: absolute;
  right: 40px;
  bottom: 35px;
}

.benefit .benefit-1 {
  background: url('../img/benefit1.jpg') no-repeat;
  border-radius: 15px;
}

.benefit .benefit-2 {
  background: url('../img/benefit2.jpg') no-repeat;
  border-radius: 15px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 269px;
  /*height: 361px;*/
}

.hit::before {
  position: absolute;
  content: '';
  width: 61px;
  height: 61px;
  background: url('../img/hit.png');
  border-radius: 50%;
}

.catalog-item img,
.basket img {
  border-radius: 50%;
}

.item-price {
  position: absolute;
  bottom: 100px;
  
  font-weight: 700;
  font-size: 45px;
	line-height: 45px;
}

.item-name {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  
  padding-top: 10px;
  
  font-weight: 500;
}

.about-us {
  min-height: 260px;
  margin-bottom: 40px;
  padding: 25px 20px;

  background: url('../img/waffle.jpg');
  border-radius: 15px;

  color: #323232;
}

.about-us h2 {
  margin: 0;
  padding: 0;
  
  font-weight: 500;
	font-size: 24px;
  padding-bottom: 30px;
	line-height: 30px;
  color: #323232;
}

.about-us ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.about-us li {
  display: inline-block;
  vertical-align: top;

  width: 480px;
  margin-left: 70px;
  padding-bottom: 30px;
}



.about-us li :nth-child(2n){
    margin-left: 0;
}

.news {
  margin-bottom: 40px;
  
  font-weight: 500;
}

.news-item {
  float: left;
  
  width: 510px;
  min-height: 170px;
  margin-right: 25px;
  padding: 25px 20px;
}

.news-item:nth-child(2n) {
  margin-right: 0;
}

.news-item span {
  font-weight: 500;
}

 .news-item a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #323232;
}

.news .blog {
  background: url('../img/news1.jpg') no-repeat;
  border-radius: 15px;

  color: #323232;
}

.news .subscription {   
  background: #f8f7f4;
  border-radius: 15px;

  color: #5a5a5a;
}

.map {
  min-height: 430px;
    
  background: url('../img/map.jpg') no-repeat center 0;
}
 

.contacts {
  float: right;

  width: 255px;
  min-height: 255px;
  margin: auto 0;
  padding: 25px;

  background-color: #fdfefe;
  color: #323232;
}


/* catalog */

.shop-header {
  min-height: 65px;
  
  background-color: lightblue;
}

.main-sorting {
  width: 870px; /*870*/
  min-height: 135px;
  margin-bottom: 35px;
  
  background-color: lightgreen;
}

.main-sorting fieldset {
  display: inline-block;
  
  height: 60px;
  vertical-align: top;
  margin-right: 15px;
}

.main-sorting .parameter{
  width: 195px;
}

.main-sorting .price {
  width: 200px;
}

.main-sorting .fat {
  /* width: 415px;  */
  margin-right: 0;
}

.main-sorting .fill {
  width: 705px;
}

.main-sorting .btn {
  display: inline-block;
  
  margin-top: 20px;
}

.paginator {
  min-height: 35px;
  padding: 25px 0;
  
  background-color: lightblue;
}

.page-footer {
  min-height: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social {
  float: left;
  
  width: 250px;
  min-height: 50px;
  margin-right: 150px;
}

.extra-info {
  float: left;
  
  width: 380px;
  min-height: 50px;
}

.copyright {
  float: right;
  
  width: 200px;
  min-height: 70px;
}

.lk {
  display: none;
}



.feedback {
  display: none;
}

input[name='toggle'] {
  display: none;
}

.slide2,
.slide3 {
  display: none;
}

                                        /* шрифты */

/* .main-navigation { */
  /* font-weight: 700; */
	/* line-height: 18px; */
/* } */

/* .user-block { */
  /* font-weight: 500; */
  /* font-size: 14px; */
	/* line-height: 16px; */
/* } */

/* .header-contacts { */
  /* font-weight: 700; */
  /* font-size: 16px; */
	/* line-height: 22px; */
/* } */

/* .header-contacts  a{ */
  /* font-size: 22px; */
	/* line-height: 24px; */
/* } */

/* .slider { */
  /* font-weight: 700; */
  /* font-size: 60px; */
	/* line-height: 60px; */
/* } */

/* .slider .btn { */
  /* font-weight: 700; */
  /* font-size: 32px; */
	/* line-height: 44px; */
/* } */

/* .btn { */
  /* font: inherit; */
  /* font-weight: 700; */
  /* font-size: 18px; */
	/* line-height: 24px; */
  
/* } */

/* h2 { */
	/* font-size: 35px; */
	/* line-height: 41px; */
/* } */

/* .benefit-item { */
  /* font-weight: 700; */
  /* font-size: 18px; */
/* } */

/* .item-price { */
  /* font-weight: 700; */
  /* font-size: 45px; */
	/* line-height: 45px; */
/* } */

/* .item-name { */
  /* font-weight: 500; */
/* } */

/* .about-us h2 { */
  /* font-weight: 500; */
	/* font-size: 24px; */
	/* line-height: 30px; */
/* } */

/* .news span { */
  /* font-weight: 500; */
/* } */

/* .news a { */
  /* font-weight: 700; */
  /* font-size: 24px; */
	/* line-height: 30px; */
/* } */

/* .news [name='email'] { */
	/* line-height: 24px; */
/* } */

/* .page-footer .extra-info { */
  /* font-size: 13px; */
	/* line-height: 16px; */
/* } */

/* .page-footer .copyright { */
  /* font-size: 12px; */
	/* line-height: 16px; */
/* } */


/* .shop-header h1{ */
  /* font-weight: 700; */
  /* font-size: 35px; */
	/* line-height: 41px; */
/* } */

/* .breadcrumbs { */
  /* font-size: 14px; */
	/* line-height: 16px; */
/* } */

/* form legend { */
  /* font-weight: 500; */
  /* font-size: 14px; */
	/* line-height: 16px; */
/* } */

/* .paginator { */
  /* font-weight: 500; */
/* } */

/* .search { */
  /* font-size: 14px; */
	/* line-height: 24px; */
  /* color: #999999; */
/* } */

/* .enter input { */
  /* font-size: 14px; */
	/* line-height: 24px; */
  /* color: #999999; */
/* } */

/* .enter a { */
  /* font-size: 13px; */
	/* line-height: 24px; */
  /* color: #999999; */
/* } */

/* .basket a{ */
  /* font-size: 13px; */
	/* line-height: 16px; */
/* } */

/* .total-order { */
  /* font-weight: 700; */
  /* font-size: 15px; */
	/* line-height: 28px; */
/* } */

/* .feedback { */
  /* font-weight: 500; */
  /* font-size: 24px; */
	/* line-height: 28px; */
/* } */

/* .feedback b { */
  /* font-weight: 700; */
  /* font-size: 18px; */
	/* line-height: 22px; */
/* } */

/* .feedback  input{ */
	/* line-height: 24px; */
/* } */